{% extends "djdashboard/base.html" %}

{% block content %}
        <h1>VXPolls Dashboard Instance</h1>
        <p>
            All content is for testing purposes only and are not in anyway related to real people.
        </p>
        <h2>Documentation</h2>
        <div>
            <strong>Dashboard</strong>
            <p>
                We provide a simple HTTP URL for Geckoboard based dashboards. These are the available URLs.
            </p>
            <ul>
                {% for poll_id in poll_ids %}
                <li>
                    <a target="_blank" href="{% url dashboard:show poll_id=poll_id %}">
                        {{poll_id}}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <strong>QA via Gtalk</strong>
            <p>
                While the SMS provider and gateway are still in the process of
                being setup, the SMS application can in the mean time be
                tested by using GTalk or any other Jabber/XMPP based chat client
                by following these instructions:
            </p>
            <ul>
                <li>
                    Add your configured Gtalk address as a
                    contact to your Gtalk contact list.
                </li>
                <li>
                    Initiate the conversation by sending something random like "hi"
                </li>
                <li>
                    The menu will return and ask your first question.
                    It is configured to ask questions in batches.
                </li>
            </ul>
        </div>
{% endblock %}